body {
  background-color: grey;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.up {
  background-color: #ffffff;
  padding-top: 8%;
  padding-left: 26.8%;
  padding-bottom: 20px;
  margin: -0.5%;
  text-align-last: left;
}

.up a {
  color: #1bc396;
  text-decoration: none;
  font-weight: bold;
}

.grey-divider {
  height: 10px;
  background-color: darkgray;
  margin: 7px -0.2cm;
}

.highlight-section {
  background-color: #ffcc00;
  box-shadow: 8px 12px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-weight: bold;
  color: #000;
  border-radius: 4px;
  position: absolute;
  top: 460px;
  right: 60.3%;
}

.down {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  height: 200px;
  padding: 40px 8px 0.1px 20px;
  margin-top: 5%;
  margin-left: 25%;
}
