body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
  font-family: Arial, sans-serif;
  color: #000;
}

.container {
  background-color: #fff;
  border-radius: 12px;
  width: 350px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.heading {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff0080;
  color: #0b0b0b;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: larger;
  height: 40px;
  width: 140px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.content {
  margin-top: 40px;
  font-size: large;
  line-height: 1.5;
  color: #333;
}
